
/* 관리자 폰트 */
.adminPage{font-family: 'Pretendard';}


mark.point{color: var(--color-point);}


.adminPage input:not([type="submit"]), textarea{font-size: 15px; line-height: 19px; padding-left: 15px; height: 40px; width: 100%; font-weight: 400; border: 1px solid var(--color-line); border-radius: 4px; box-sizing: border-box;}
.adminPage textarea{padding-block: 15px;}
.adminPage input[type="submit"]{border: none;}
.adminPage input:read-only{background-color: #dcdcdc;}


/* 버튼 */
.adminPage [class|="btn"]{text-align: center; border-radius: 4px; box-sizing: border-box;}
.adminPage [class*="btn-point"], .btn-border-gray-big{font-weight: 700;}
.adminPage .btn-point{color: white; background-color: var(--color-point); /* border: 1px solid var(--color-point); */}
.adminPage .btn-point-border{border: 1px solid var(--color-point); color: var(--color-point);}
.adminPage .btn-border-gray{/* width: 100%; */ padding-inline: 20px; display: flex; justify-content: center; border: 1px solid #DCDCDC; color: #BBB;}
.adminPage .btn-border-gray-big{border: 1px solid #DCDCDC; color: #BBB;}
.adminPage [class|="btn"]:disabled{background-color: #DCDCDC;}
.adminPage [class*="btn-point"], .adminPage .btn-border-gray-big, input[type="submit"]{font-size: 15px; line-height: 40px;}
.adminPage [class*="btn-point"], .adminPage .btn-border-gray-big{padding-inline: 20px;}


/* 팝업 */
/* body:has(.adminPage [data-popup]){overflow: hidden;} */
.adminPage [data-popup]{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center; z-index: 101;}
.adminPage [data-popup] > div{width: 270px; padding: 50px 30px 30px; border: 1px solid var(--color-point); border-radius: 10px; background-color: white; position: relative;}
.adminPage [data-popup] > div strong{display: block; font-size: 18px; line-height: 21px; margin-bottom: 20px; font-weight: 700;}
.adminPage [data-popup] > div p{font-size: 15px; line-height: 18px; font-weight: 400;}
/* .adminPage [data-popup] > div p:last-of-type{margin-bottom: 30px;} */
.adminPage [data-popup] > div input[type="text"]{display: block; margin-block: 10px;}
.adminPage [data-popup] > div .selectBox{margin-block: 10px;}
.adminPage [data-popup] > div mark{font-size: 13px;}
.adminPage [data-popup] > div .radio{display: flex; gap: 10px;}
.adminPage [data-popup] > div input[type="submit"]{display: block; margin-top: 20px; margin-left: auto;}
.adminPage [data-popup] > div input[type="submit"]:disabled{background-color: #DCDCDC;}
.adminPage [data-popup] > div div.buttonArea{margin-top: 20px; display: flex; justify-content: flex-end; gap: 10px;}
.adminPage [data-popup] button.close{position: absolute; right: 10px; top: 10px; width: 25px; aspect-ratio: 1; background: url(../images/icon-close.png) no-repeat center / cover; text-indent: -9999px;}

/* .adminPage [data-popup] > div div{display: flex; justify-content: center; gap: 10px; margin-top: 30px;} */


/* 셀렉트 박스 */
.adminPage .selectBox{position: relative;}
.adminPage .selectBox button{font-size: 15px; padding-inline: 15px; height: 40px; font-weight: 400; text-align: left;}
.adminPage .selectBox > button{width: 100%; border: 1px solid var(--color-line); color: #BBB; border-radius: 4px; box-sizing: border-box; position: relative;}
.adminPage .selectBox > button::after{width: 18px; right: 15px; content: ''; aspect-ratio: 1; position: absolute; top: 50%; translate: 0 -50%; background: url(../images/icon-down.png) no-repeat center / cover;}
.adminPage .selectBox > div{position: absolute; left: 0; top: calc(100% + 6px); width: 100%; padding-inline: 5px; background-color: white; border: 1px solid var(--color-font01); border-radius: 4px; box-sizing: border-box; z-index: 1;}
.adminPage .selectBox > div button{display: block; width: 100%;}
.adminPage .selectBox > div button:hover{background-color: var(--color-face01);}
.adminPage .selectBox.active > div{display: block;}
.adminPage .selectBox.active > button{border-color: var(--color-font01);}
.adminPage .selectBox.active > button::after{rotate: 180deg;}
.adminPage .selectBox.selected > button{color: var(--color-font01);}


/* 게시물 */
.adminPage .board-count{margin-bottom: 15px; display: flex; align-items: center; justify-content: space-between; gap: 10px;}
.adminPage .board-count strong.total{font-size: 20px;}
.adminPage .board-count strong.total::before{content: '총 ';}
.adminPage .board-count strong.total::after{content: '건';}
.adminPage .board-count > div:nth-child(2){margin-left: auto;}
.adminPage .board-tab{font-size: 15px; margin-bottom: 15px; display: flex; align-items: center;}
.adminPage .board-tab a{height: 40px; padding-inline: 20px; border-width: 1px; border-style: solid; border-color: #DCDCDC; box-sizing: border-box; display: flex; align-items: center;}
.adminPage .board-tab a.active{color: var(--color-point); border-width: 2px; border-color: var(--color-point); font-weight: 700;}
.adminPage .board-tab button{margin-left: auto;}
.adminPage .board-selectBox{display: flex; gap: 10px; margin-bottom: 15px;}
.adminPage .board-selectBox .selectBox{width: 230px;}
.adminPage .board-selectBox > a{margin-left: auto;}
.adminPage [class*="boardBox"] .board-title{font-size: 15px; display: flex; align-items: center; gap: 80px; height: 56px; font-weight: 700; padding-inline: 70px; border-top: 1px solid var(--color-font01); background-color: #F7F7F7; box-sizing: border-box;}
.adminPage [class*="boardBox"] .board-title > b{text-align: center;}
.adminPage [class*="boardBox"] .board-detail:not(:has(:nth-child(1)))::after{content: '게시물이 없습니다.'; height: 300px; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #DCDCDC;}
.adminPage [class*="boardBox"] :is(.board-detail li:not(:has( > a)), .board-detail li > a){font-size: 15px; display: flex; align-items: center; gap: 80px; height: 50px; padding-inline: 70px; border-bottom: 1px solid #DCDCDC;}
.adminPage [class*="boardBox"] :is(.board-title:has(p), .board-detail li:not(:has( > a)):has(p), .board-detail li:has(a):has(p) > a) > *{text-align: center;}
.adminPage [class*="boardBox"] :is(.board-title:has(p), .board-detail li:not(:has( > a)):has(p), .board-detail li:has(a):has(p) > a) > *:not(p){width: 70px; flex-shrink: 0;}
.adminPage [class*="boardBox"] :is(.board-title:has(p), .board-detail li:not(:has( > a)):has(p), .board-detail li:has(a):has(p) > a) > p{flex: 1; min-width: 100px;}
.adminPage [class*="boardBox"] :is(.board-title:has(p), .board-detail li:not(:has( > a)):has(p), .board-detail li:has(a):has(p) > a) > p span{display: inline-block; max-width: 100%; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.adminPage [class*="boardBox"] :is(.board-title:not(:has(p)), .board-detail li:not(:has( > a)):not(:has(p)), .board-detail li:has(a):not(:has(p)) > a) > *:not(div){flex: 1;}
.adminPage [class*="boardBox"] :is(.board-title:not(:has(p)), .board-detail li:not(:has( > a)):not(:has(p)), .board-detail li:has(a):not(:has(p)) > a) > div{flex-shrink: 0;}
.adminPage [class*="boardBox"] .board-detail .exposure{display: flex; justify-content: center; align-items: center;}
.adminPage [class*="boardBox"] .board-detail .exposure input[type="checkbox"] + label{all: inherit; width: 60px; border: 1px solid #DCDCDC; height: 30px; border-radius: 100px; position: relative; cursor: pointer; text-indent: -9999px;}
.adminPage [class*="boardBox"] .board-detail .exposure input[type="checkbox"] + label::before{display: none;}
.adminPage [class*="boardBox"] .board-detail .exposure input[type="checkbox"] + label::after{content: ''; position: absolute; left: 3px; top: 3px; background-color: #DCDCDC; width: 24px; aspect-ratio: 1; border-radius: 100%; transition: 0.5s;}
.adminPage [class*="boardBox"] .board-detail .exposure input[type="checkbox"]:checked + label::after{left: 33px; background-color: var(--color-point);}
.adminPage [class*="boardBox"] :is(.board-title, .board-detail li:not(:has( > a)), .board-detail li:has(a) > a) > .button{width: 140px; flex-shrink: 0;}
.adminPage [class*="boardBox"] :is(.board-detail li:not(:has( > a)), .board-detail li:has(a) > a) > .button{display: flex; justify-content: center; gap: 5px;}
.adminPage [class*="boardBox"] > :is(a, button){display: block; margin-left: auto; margin-bottom: 10px;}
/* .adminPage [class*="boardBox"] .board-detail .button{display: flex; justify-content: center; gap: 10px; width: 150px;} */
.adminPage [class*="boardBox"].boardBox-ventor .board-detail:not(:has(:nth-child(1)))::after{content: '벤더사가 없습니다.';}
.adminPage [class*="boardBox"].boardBox-ventor .board-detail p{text-align: left;}
.adminPage [class*="boardBox"].boardBox-product .board-detail:not(:has(:nth-child(1)))::after{content: '제품이 없습니다.';}
.adminPage [class*="boardBox"].boardBox-suppot-faq .board-detail p{text-align: left;}
/* .adminPage [class*="boardBox"][class*="boardBox-suppot"] :is(.board-title, .board-detail li:not(:has( > a)), .board-detail li:has(a) > a) > *:last-child{width: 140px;}
.adminPage [class*="boardBox"][class*="boardBox-suppot"] :is(.board-detail li:not(:has( > a)), .board-detail li:has(a) > a) > *:last-child{display: flex; justify-content: center; gap: 5px;} */


/* 입력 박스 */
.adminPage .inputBox ul{border-top: 1px solid #dcdcdc;}
.adminPage .inputBox ul li{font-size: 15px; line-height: 18px;}
.adminPage .inputBox ul li{display: flex; border-bottom: 1px solid #dcdcdc;}
.adminPage .inputBox ul li > label{width: 150px; padding-block: 16px; font-weight: 700; flex-shrink: 0; background-color: #F7F7F7; display: flex; align-items: center; justify-content: center;}
.adminPage .inputBox ul li > div{flex: 1; display: flex; align-items: center; padding: 10px 20px;}
.adminPage .inputBox ul li > div textarea{height: 300px;}
.adminPage .inputBox ul li div .radioBox{display: flex; gap: 10px;}
.adminPage .inputBox .buttonArea{display: flex; justify-content: flex-end; gap: 10px; margin-top: 30px;}


/* 해더 */
.adminPage{--adminHeaderHeight: 60px;}
.adminPage header{position: sticky; top: 0; width: 100%; height: var(--adminHeaderHeight); display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: white; box-sizing: border-box; box-shadow: 0px 5px 21px -5px #cdd1e1; z-index: 100;}
.adminPage header h1 a{--styleIdx: 0; display: block; width: 150px; aspect-ratio: 249 / 40; background: url(../../images/logo.png) no-repeat left top calc(100% * var(--styleIdx)) / 100%; text-indent: -9999px;}
.adminPage > div{display: flex;}
.adminPage > div .menuArea{ /* width: 220px; */ flex-shrink: 0; padding: 40px 20px; box-shadow: 0px 5px 21px -5px #cdd1e1; box-sizing: border-box;}
.adminPage > div .menuArea li > :is(button, a){font-size: 20px; font-weight: 700;}
.adminPage > div .menuArea li a{color: rgba(22, 22, 22, 0.5);}
.adminPage > div .menuArea li a.active{color: #222;}
.adminPage > div .menuArea li div{padding: 20px;}
.adminPage > div .menuArea li div a{display: block; font-size: 16px; font-weight: 700; padding-block: 10px;}
/* .adminPage > div .menuArea li div a.active{color: #222;} */


/* ------------------------------------------------------- */





.adminPage{min-width: 1600px;}

.adminPage .board-search{margin-bottom: 30px;}
.adminPage .board-search fieldset ul li{display: flex; align-items: center; gap: 10px;}
.adminPage .board-search fieldset ul li > label{font-size: 18px;}
.adminPage .board-search fieldset ul li > button.active{color: var(--color-point); border: 1px solid var(--color-point);}
.adminPage .board-search fieldset ul li:not(:last-of-type){margin-bottom: 10px;}




.adminPage .boardBox-member :is(.board-title, .board-detail li) > *{flex: 60; text-align: center;}
.adminPage .boardBox-member :is(.board-title, .board-detail li) > a{color: var(--color-point); text-decoration: underline;}
.adminPage .boardBox-member .board-detail li{font-size: 15px; display: flex; align-items: center; gap: 80px; height: 50px; padding-inline: 70px; border-bottom: 1px solid #DCDCDC;}
.adminPage .boardBox-costomer .board-detail li a{font-size: 15px; display: flex; align-items: center; gap: 80px; height: 50px; padding-inline: 70px; border-bottom: 1px solid #DCDCDC;}
.adminPage .boardBox-costomer .board-detail li a p{min-width: 100px;}
.adminPage .boardBox-costomer .board-detail li a p span{display: inline-block; max-width: 100%; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.adminPage .boardBox-costomer .board-detail li a p:has(i){font-weight: 700; position: relative;}
.adminPage .boardBox-costomer .board-detail li a p i{position: absolute; left: 0; top: 50%; transform: translate(calc(-100% - 8px), calc(-50% - 1px)); width: 20px; aspect-ratio: 1; background: url(../images/icon-new.png) no-repeat center / cover; text-indent: -9999px;}
.adminPage .boardBox-board .board-detail li a{font-size: 15px; display: flex; align-items: center; gap: 80px; height: 70px; padding-inline: 70px; border-bottom: 1px solid #DCDCDC;}
.adminPage .boardBox-board .board-title > *{text-align: center;}
.adminPage .boardBox-board :is(.board-title, .board-detail li a) > *:not(p){flex: 60; text-align: center; min-width: 60px;}
.adminPage .boardBox-board :is(.board-title, .board-detail li a) > p{flex: 200;}
.adminPage .boardBox-board .board-detail li a p{min-width: 100px;}
.adminPage .boardBox-board .board-detail li a p:has(i){font-weight: 700; position: relative;}
.adminPage .boardBox-board .board-detail li a p i{position: absolute; left: 0; top: 50%; transform: translate(calc(-100% - 8px), calc(-50% - 1px)); width: 20px; aspect-ratio: 1; background: url(../images/icon-new.png) no-repeat center / cover; text-indent: -9999px;}
.adminPage .boardBox-board :is(.board-title, .board-detail li a) > div{}
.adminPage .boardBox-board :is(.board-title, .board-detail li a) > div img{width: 60px; height: 60px; object-fit: cover;}
.adminPage .boardBox-board .board-detail li a p span{display: inline-block; max-width: 100%; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/* 페이저 */
.adminPage .board-pager{margin-top: 30px;}


/* 해더 */
.adminPage > div > [class*="Page"]{/* flex: 1; */ width: calc(100% - 200px); padding: 40px; box-sizing: border-box;}
.adminPage > div > [class*="Page"] > h2{font-size: 32px; line-height: 40px; padding-bottom: 15px; margin-bottom: 30px; font-weight: 700; border-bottom: 2px solid #DCDCDC;}
.adminPage > div > [class*="Page"] > h2:has(:is(button, a)){display: flex; justify-content: space-between; align-items: center;}
