/* 줄바꿈 */
br[class]:not([class*="mobile"]){display: none;}


/* 컨텐츠 사이즈 */
.contentSize{--minSpacing: 30px;}
[class$="Page"] > *:not(header, footer){--minSpacing: 30px;}


/* 입력 */
:is(input, textarea, .selectBox button){padding-inline: 12px;}
textarea{padding-block: 14px;}
.selectBox > button::after{width: 26px;}
.inputBox-product > div button{font-size: 15px;}


/* 검색 */
.searchBox button:first-of-type{width: 30px; right: 10px;}


/* 구매 옵션 테이블 */
[class*="purchaseBox"] div:not(:last-of-type){margin-bottom: 40px;}
[class*="purchaseBox"] div ul li{display: flex; justify-content: space-between; padding-inline: 10px;}
[class*="purchaseBox"] div ul li:not(:has(a)):before{content: attr(title); flex: 1;}
[class*="purchaseBox"] div ul li span{flex: 1;}
[class*="purchaseBox"] div b span{font-size: 24px;}
[class*="purchaseBox"] div ul li{font-size: 16px; line-height: 22px;}
[class*="purchaseBox"] div ul li span a{width: 100%;}


/* FAQ */
.FAQBox li details summary{font-size: 16px; line-height: 22px; min-height: 60px;}
.FAQBox li details summary::after{width: 26px;}
.FAQBox li details div{font-size: 14px; line-height: 20px;}


/* 상품 정보 */
.productBox{padding-top: 20px; --imgWidth: 80px; --gap: 20px;}
.productBox figure figcaption div:has(button){margin-top: 20px;}
.productBox .deliveryArea{padding-right: 12px;}
.productBox .deliveryArea{margin-top: 20px;}


/* 인풋 */
[class*="inputBox"] ul li label:first-child{font-size: 13px;}


/* 최종 결제 금액 */
.amountBox{height: 60px; padding-inline: 12px;}


/* 해더 */


/* 푸터 */
footer{--minSpacing: 12px;}
footer strong{font-size: 18px; margin-bottom: 30px; display: block;}
footer b{font-size: 14px; margin-bottom: 10px; display: block;}
footer address{font-size: 13px; line-height: 20px; margin-bottom: 60px;}
footer address dl:nth-of-type(3){width: 100%;}
footer address dl:nth-of-type(2)::after{display: none;}
footer > p{font-size: 13px; line-height: 20px; margin-bottom: 56px;}
footer ul{justify-content: flex-end;}
