/* 버튼 */
[class*='btn']{font-size: 16px;}
[class *= 'btn-border']{line-height: 48px;}
.btn-bg, .btn-white{line-height: 50px;}


/* 입력 */
.userPage :is(input, .selectBox > button){font-size: 15px; height: 50px;}
.userPage textarea{height: 150px;}
.userPage .selectBox > button::after{right: 10px;}
.userPage .inputBox-product ul li div input[type="radio"] + label{font-size: 14px; height: 44px;}
.userPage .inputBox-product > div{gap: 30px;}


/* 견적 링크 */
.userPage .estimateLink{width: 60px;}


/* 검색 */


/* 페이지네이션 */
.userPage .paginationBox{margin-top: 40px;}


/* 구매 옵션 테이블 */
.userPage [class*="purchaseBox"] > div :is(b, ul li) span{height: 70px;}
.userPage [class*="purchaseBox"] > div ul li span[title="포함"]::after{width: 36px;}
.userPage .purchaseBox2 table tr{height: 70px;}
.userPage .purchaseBox2 table tbody tr td[title="포함"]::after{width: 36px;}

/* FAQ */
.userPage .FAQBox > li details summary{padding-inline: 20px;}
.userPage .FAQBox > li details > div{padding: 20px;}


/* 상품 정보 */
.userPage .productBox figure figcaption :is(strong, p, div:not(:has(button))){font-size: 16px; line-height: 22px;}
.userPage .productBox .deliveryArea{font-size: 14px;}


/* 인풋 */
form:has(.inputBox){margin-top: 60px;}
input[type="checkbox"] + label{font-size: 15px;}
input[type="checkbox"] + label::before{width: 22px;}


/* 최종 결제 금액 */
.userPage .amountBox{font-size: 16px; line-height: 22px;}


/* 완료 */
.userPage .resultBox dl{font-size: 15px;}
.userPage .resultBox dl :is(dt, dd){padding-block: 19px;}


/* 해더 */
header{--headerHeight: 58px; height: var(--headerHeight);}
header h1{width: 162px;}
header button{width: 36px; aspect-ratio: 1; background: url(../images/icon-menu.png) no-repeat left top calc(100% * var(--styleIdx)) / 100%; text-indent: -9999px;}
header nav{display: none; position: fixed; inset: 0; background-color: white; z-index: 101;}
header nav::before{content: ''; position: absolute; left: 12px; top: 16px; width: 31px; aspect-ratio: 31 / 26; background: url(../images/logo-m.png) no-repeat center / cover;}
header nav button{--styleIdx: 1; position: absolute; right: 12px; top: 11px; z-index: 0;}
header nav ul{padding-top: calc(var(--headerHeight) + 40px);}
header nav ul li:not(:last-child){margin-bottom: 50px;}
header nav ul li > a{line-height: 28px;}
header nav ul li div{display: flex; justify-content: center; gap: 30px; margin-top: 20px; padding-right: 10px;}
header nav ul li div a{font-size: 16px; line-height: 22px;}
header > a{display: none; font-size: 20px; font-weight: 700; justify-content: center; width: 100%; position: fixed; left: 0; top: calc(var(--headerHeight) + 404px); z-index: 102;}
header > button{--styleIdx: 0;}
header > div{display: none; position: fixed; width: 100%; max-width: 360px; left: 50%; bottom: 20px; transform: translateX(-50%); z-index: 102;}
header > div a{font-size: 14px; font-weight: 400; color: var(--color-font03); flex: 1; display: flex; justify-content: center; align-items: center;}
header > div a::before{content: ''; width: 22px; aspect-ratio: 1; background: url(../images/gnb-sns.png) no-repeat left top calc(100% * var(--styleIdx)) / 100%; margin-right: 10px;}
header > div a:nth-child(1){--styleIdx: 0;}
header > div a:nth-child(2){--styleIdx: 1;}
body:has(header nav.active){overflow: hidden;}
header nav.active{display: block;}
header nav.active ~ :is(a, div){display: flex;}


/* 푸터 */
footer strong{line-height: 24px;}
footer b{line-height: 22px;}