/* 줄바꿈 */
br[class]:not([class*="tablet"]){display: none;}


/* 입력 */


/* 검색 */
.searchBox button:first-of-type{width: 34px;}


/* 구매 옵션 테이블 */
[class*="purchaseBox"] div :is(b, ul li) span{width: 303px;}
[class*="purchaseBox"] div:first-of-type b::before, 
[class*="purchaseBox"] div:first-of-type ul li::before{width: calc(100% - 303px);}
[class*="purchaseBox"] div:nth-of-type(1){width: calc(100% - 303px);}
[class*="purchaseBox"] div:nth-of-type(2){width: 303px;}
[class*="purchaseBox"] div b span{font-size: 26px;}
[class*="purchaseBox"] div ul li{font-size: 18px; line-height: 24px;}


/* FAQ */
.FAQBox li details summary{font-size: 18px; line-height: 24px; min-height: 70px;}
.FAQBox li details div{font-size: 16px; line-height: 22px;}


/* 인풋 */


/* 해더 */


/* 푸터 */
footer strong{font-size: 20px;}
footer b{font-size: 15px;}
footer address{font-weight: 14px; margin-bottom: 9px;}
footer > p{font-size: 14px; line-height: 22px;}