/* 컨텐츠 사이즈 */
.contentSize{width: 100%; padding-inline: max(calc((100% - 1260px) / 2), var(--minSpacing)); box-sizing: border-box;}
[class$="Page"] > *{width: 100%; padding-inline: max(calc((100% - 1260px) / 2), var(--minSpacing)); box-sizing: border-box;}


/* 버튼 */
[class*='btn']{border-radius: 6px; font-weight: 700; text-align: center;}
[class*='btn-border']{display: block; border-width: 1px; border-style: solid;}
.btn-border-white{border-color: white; color: white;}
.btn-border-black{border-color: black;}
.btn-bg{background-color: black; color: white;}


/* 해더 */
header{background-color: white; position: sticky; top: 0; width: 100%; padding-inline: max(calc((100% - 1340px) / 2), 12px); box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; z-index: 100;}
header h1 a{--styleIdx: 0; display: block; aspect-ratio: 249 / 40; background: url(../images/logo.png) no-repeat left top calc(100% * var(--styleIdx)) / 100%; text-indent: -9999px;}
header nav ul li > a{font-size: 20px; font-weight: 700; text-align: center; display: block; }
header nav ul li div{display: none;}


/* 푸터 */
footer{padding-block: 40px 30px; padding-inline: max(calc((100% - 1340px) / 2), var(--minSpacing)); color: white; background-color: black;}
footer strong{font-weight: 700;}
footer b{font-weight: 700;}
footer address{--color: rgba(255, 255, 255, 0.6); color: var(--color); display: flex; flex-wrap: wrap;}
footer address dl{display: flex; align-items: center; gap: 0.4em;}
footer address dl:first-of-type dt{display: flex; align-items: center; gap: 0.4em;}
footer address dl:first-of-type dt::after{content: ':';}
footer address dl:nth-of-type(1), footer address dl:nth-of-type(2){margin-right: 0.8em; padding-right: 0.8em; position: relative;}
:is(footer address dl:nth-of-type(1), footer address dl:nth-of-type(2))::after{content: ''; position: absolute; right: 0; top: 50%; width: 1px; height: 70%; transform: translateY(-50%); background-color: var(--color);}
footer address p{width: 100%;}
footer > p{font-weight: 700; color: white;}
footer ul{display: flex; gap: 20px;}
footer ul li a{width: 48px; aspect-ratio: 1; display: flex; justify-content: center; align-items: center; background-color: var(--color-font01); border-radius: 100%; text-indent: -9999px;}
footer ul li a::before{content: ''; width: 30px; aspect-ratio: 1; background: url(../images/icon-sns.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;}