/* 줄바꿈 */
br[class]:not([class*="tablet"]){display: none;}


/* 컨텐츠 사이즈 */
.userPage[class$="Page"] > section:only-of-type{min-height: calc(100vh - 210px);}


/* 입력 */


/* 검색 */
.userPage .searchBox button:first-of-type{width: 34px;}


/* 구매 옵션 테이블 */
.userPage [class*="purchaseBox"] > div :is(b, ul li) span{width: 303px;}
.userPage [class*="purchaseBox"] > div:first-of-type b::before, 
.userPage [class*="purchaseBox"] > div:first-of-type ul li::before{width: calc(100% - 303px);}
.userPage [class*="purchaseBox"] > div:nth-of-type(1){width: calc(100% - 303px);}
.userPage [class*="purchaseBox"] > div:nth-of-type(2){width: 303px;}
.userPage [class*="purchaseBox"] > div b span{font-size: 26px;}
.userPage [class*="purchaseBox"] > div ul li{font-size: 18px; line-height: 24px;}


/* FAQ */
.userPage .FAQBox > li details summary{font-size: 18px; line-height: 24px; min-height: 70px;}
.userPage .FAQBox > li details > div{font-size: 16px; line-height: 22px;}


/* 상품 정보 */
.userPage .productBox{--imgWidth: 100px;}
.userPage .productBox figure figcaption :is(strong, p){padding-right: 210px;}


/* 인풋 */


/* 최종 결제 금액 */
.userPage .amountBox{height: 70px;}


/* 완료 */
.userPage .resultBox strong{font-size: 18px; line-height: 24px;}


/* 해더 */


/* 푸터 */
footer strong{font-size: 20px;}
/* footer b{font-size: 15px;} */
footer ul.privacyBox{font-size: 15px;}
footer address{font-size: 14px; margin-bottom: 9px;}
footer > p{font-size: 14px; line-height: 22px;}

.userPage :is(.privacyPage, .commercePage) > div{padding-block: 110px;}
.userPage :is(.privacyPage, .commercePage) > div h2{font-size: 44px; line-height: 54px; margin-bottom: 30px;}
.userPage :is(.privacyPage, .commercePage) > div strong{font-size: 28px; line-height: 36px; margin-block: 20px 10px;}
.userPage :is(.privacyPage, .commercePage) > div p{font-size: 18px; line-height: 26px; margin-block: 5px;}
.userPage :is(.privacyPage, .commercePage) > div ol{font-size: 18px; line-height: 26px;}