/* 줄바꿈 */
br[class]:not([class*="mobile"]){display: none;}


/* 컨텐츠 사이즈 */
.contentSize{--minSpacing: 30px;}
[class$="Page"] > *:not(header, footer){--minSpacing: 30px;}


/* 입력 */
input{padding-inline: 12px;}


/* 구매 옵션 테이블 */
[class*="purchaseBox"] div:not(:last-of-type){margin-bottom: 40px;}
[class*="purchaseBox"] div ul li{display: flex; justify-content: space-between; padding-inline: 10px;}
[class*="purchaseBox"] div ul li:not(:has(a)):before{content: attr(title); flex: 1;}
[class*="purchaseBox"] div ul li span{flex: 1;}
[class*="purchaseBox"] div b span{font-size: 24px;}
[class*="purchaseBox"] div ul li{font-size: 16px; line-height: 22px;}
[class*="purchaseBox"] div ul li span a{width: 100%;}


/* 해더 */


/* 푸터 */
footer{--minSpacing: 12px;}
footer strong{font-size: 18px; margin-bottom: 30px; display: block;}
footer b{font-size: 14px; margin-bottom: 10px; display: block;}
footer address{font-size: 13px; line-height: 20px; margin-bottom: 60px;}
footer address dl:nth-of-type(3){width: 100%;}
footer address dl:nth-of-type(2)::after{display: none;}
footer > p{font-size: 13px; line-height: 20px; margin-bottom: 56px;}
footer ul{justify-content: flex-end;}
