/* 컨텐츠 사이즈 */
.contentSize{--minSpacing: 24px;}
[class$="Page"] > *:not(header, footer){--minSpacing: 24px;}


/* 입력 */
:is(input, textarea, .selectBox button){padding-inline: 15px;}
textarea{padding-block: 20px;}
.selectBox > button::after{width: 32px;}
.inputBox-product > div button{font-size: 16px;}


/* 검색 */
.searchBox button:first-of-type{right: 15px;}


/* 구매 옵션 테이블 */
[class*="purchaseBox"]::after{content: ''; clear: both; display: block; visibility: hidden;}
[class*="purchaseBox"] div{float: left;}
[class*="purchaseBox"] div :is(b, ul li){display: flex;}
[class*="purchaseBox"] div:first-of-type b::before, 
[class*="purchaseBox"] div:first-of-type ul li::before{content: attr(title); padding-inline: 20px; box-sizing: border-box;}
[class*="purchaseBox"] div:nth-of-type(2) :is(b, ul li) span{width: 100%;}
[class*="purchaseBox"] div :is(b span, ul li span){border-left-width: 1px; border-left-style: solid;}
[class*="purchaseBox"] div ul li span a{width: 223px;}
.purchaseBox-white div :is(b span, ul li span){border-left-color: var(--color-line);}
.purchaseBox-black div :is(b span, ul li span){border-left-color: #444;}


/* FAQ */
.FAQBox li details summary::after{width: 34px;}


/* 상품 정보 */
.productBox{padding-top: 30px; --gap: 30px;}
.productBox .deliveryArea{padding-right: 30px;}
.productBox figure figcaption{position: relative;}
.productBox figure figcaption div{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.productBox .deliveryArea{margin-top: 30px;}


/* 인풋 */
[class*="inputBox"] ul li label:first-child{font-size: 14px;}


/* 최종 결제 금액 */
.amountBox{padding-inline: 30px;}


/* 해더 */


/* 푸터 */
footer{--minSpacing: 24px; display: flex; flex-wrap: wrap; justify-content: space-between;}
footer strong{margin-bottom: 15px;}
footer address{width: 100%; line-height: 22px;}
footer > p{align-self: flex-end;}