
/* 메인 */
.mainPage h3:not(:has(img)){font-weight: 700;}
.mainPage h3:has(img){line-height: 0;}
/* 메인 - welcome */
.mainPage .welcomeArea{background-color: #FCF2C4;}
.mainPage .welcomeArea h2{font-weight: 700;}
.mainPage .welcomeArea p{color: var(--color-font01);}
.mainPage .welcomeArea::after{content: ''; aspect-ratio: 720 / 540; background: url(../images/main-top.png) no-repeat center / cover;}


/* 메인 - 주요제품, 주요기능 공통 */
.mainPage :is(.productArea, .functionArea){padding-top: var(--areaPaddingTop);}

/* 메인 - 주요제품 */
.mainPage .productArea{position: relative;}
.mainPage .productArea div p{color: var(--color-font01);}
.mainPage .productArea ul{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 20px;}
.mainPage .productArea ul li:first-child{margin-left: calc(var(--width) + (100% - (var(--width) * 3)) / 2);}
.mainPage .productArea ul li{width: var(--width); padding: 40px 30px 0; border: 1px solid var(--color-line); box-sizing: border-box; text-align: center;}
.mainPage .productArea ul li a::before{content: ''; --styleIdx: 1; width: 60px; margin-bottom: 30px; aspect-ratio: 1; display: inline-block; margin-inline: auto; background: url(../images/icon-products.png) no-repeat left top calc((100% / 23 * var(--styleIdx))) / 100%;}
.mainPage .productArea ul li:nth-child(1) a::before{--styleIdx: 2;}
.mainPage .productArea ul li:nth-child(2) a::before{--styleIdx: 0;}
.mainPage .productArea ul li:nth-child(3) a::before{--styleIdx: 22;}
.mainPage .productArea ul li:nth-child(4) a::before{--styleIdx: 8;}
.mainPage .productArea ul li:nth-child(5) a::before{--styleIdx: 1;}
.mainPage .productArea ul li a strong{margin-bottom: 15px; font-weight: 700; display: block;}
.mainPage .productArea ul li a p{color: var(--color-font02);}


/* 메인 - 주요제품 */
.mainPage .functionArea{text-align: center; background-color: var(--color-face);}
.mainPage .functionArea > p{margin-bottom: 100px;}
.mainPage .functionArea ul{text-align: left;}
.mainPage .functionArea ul li{padding-top: 30px; border-top: 1px solid black;}
.mainPage .functionArea ul li::before{content: ''; width: 40px; margin-bottom: 10px; aspect-ratio: 1; display: block; background: url(../images/main-function.png) no-repeat left top calc((100% / (var(--styleTotal) - 1) * var(--styleIdx))) / 100%;}
.mainPage .functionArea ul li strong{font-weight: 700; display: block;}
.mainPage .functionArea ul li p{color: var(--color-font02);}


/* 메인 - NATTOSYSTEM */
.mainPage .nattoArea{background-color: #FCF2C4;}
.mainPage .nattoArea h3{margin-inline: auto;}
.mainPage .nattoArea h3 img{width: 100%;}
.mainPage .nattoArea div::before{content: ''; aspect-ratio: 430 / 500; background: url(../images/main-character01.png) no-repeat center / cover; }
.mainPage .nattoArea div strong{font-weight: 700;}
.mainPage .nattoArea div dl{margin-top: 30px;}
.mainPage .nattoArea div dl dt{margin-bottom: 10px; font-weight: 700;}
.mainPage .nattoArea div dl dd{color: var(--color-font01);}
.mainPage .nattoArea div dl:last-of-type::after{content: ''; max-width: 340px; display: block; aspect-ratio: 340 / 96; background: url(../images/main-character02.png) no-repeat center / cover;}


/* 메인 - SNS */
.mainPage .snsArea{position: relative; color: white; background-color: black;}
.mainPage .snsArea strong{font-weight: 700; display: block;}
.mainPage .snsArea strong mark{color: #F8B800;}
.mainPage .snsArea p{color: rgba(255, 255, 255, 0.7);}
.mainPage .snsArea ul li{padding-left: 25px; font-weight: 700; box-sizing: border-box; border: 1px solid white; border-radius: 6px; display: flex; align-items: center;}
.mainPage .snsArea ul li::before{content: ''; aspect-ratio: 1; background: url(../images/icon-sns.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .snsArea ul li a{font-size: 12px; text-align: center; margin-left: auto; position: relative;}
.mainPage .snsArea ul li a::before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 2px; height: 18px; background-color: rgba(255, 255, 255, 0.2);}


/* 메인 - 문의하기 */
.mainPage .inquiryArea{}
.mainPage .inquiryArea > ul{text-align: center;}
.mainPage .inquiryArea > ul li:not(:last-child){margin-bottom: 50px;}
.mainPage .inquiryArea > ul li::before{content: ''; aspect-ratio: 1; display: block; margin-inline: auto; background: url(../images/main-address.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .inquiryArea > ul li b{display: block; font-weight: 700;}
.mainPage .inquiryArea form{position: relative;}
.mainPage .inquiryArea form::before{content: ''; position: absolute; background-color: var(--color-line);}
.mainPage .inquiryArea form fieldset strong{margin-bottom: 30px; display: block; font-weight: 700;}
.mainPage .inquiryArea form fieldset ul{margin-bottom: 30px;}
.mainPage .inquiryArea form fieldset ul li:not(:last-child){margin-bottom: 30px;}
.mainPage .inquiryArea form fieldset ul li label{line-height: 20px; font-weight: 700;}
.mainPage .inquiryArea form fieldset ul li div{margin-top: 10px; display: flex; gap: 10px;}
.mainPage .inquiryArea form fieldset ul li div input{flex: 1; border: 1px solid var(--color-line); box-sizing: border-box;}
.mainPage .inquiryArea form fieldset ul li div input::placeholder{color: var(--color-font04);}
.mainPage .inquiryArea form fieldset input{border-radius: 6px;}
.mainPage .inquiryArea form fieldset input[type="submit"]{width: 100%; font-weight: 700; border: none; background-color: black; color: white;}
.mainPage .inquiryArea iframe{width: 100%;}