/* 메인 */
/* 메인 - welcome */
.mainPage .welcomeArea{position: relative;}
.mainPage .welcomeArea h2{margin-bottom: 30px; position: relative; z-index: 1;}
.mainPage .welcomeArea h2::before{content: ''; position: absolute; z-index: -1; aspect-ratio: 1; background-color: #FFD88B; border-radius: 100%;}
.mainPage .welcomeArea p{word-break: keep-all;}
.mainPage .welcomeArea::after{position: absolute; right: var(--contentPadding); top: 50%; transform: translateY(-50%);}


/* 메인 - 주요제품, 주요기능 공통 */

/* 메인 - 주요제품 */
.mainPage .productArea > div:first-child{position: absolute; left: var(--contentPadding); top: var(--areaPaddingTop); box-sizing: border-box;}
.mainPage .productArea .swiper-wrapper{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 20px;}
.mainPage .productArea .swiper-wrapper .swiper-slide{width: var(--width); padding: 40px 30px 0;}
.mainPage .productArea .swiper-wrapper .swiper-slide:first-child{margin-left: calc(var(--width) + (100% - (var(--width) * 3)) / 2);}
.mainPage .productArea .swiper-wrapper .swiper-slide a::before{width: 60px;}
.mainPage .productArea .swiper .swiper-pagination{display: none;}


/* 메인 - 주요기능 */
.mainPage .functionArea ul{display: flex; justify-content: space-between;}
.mainPage .functionArea ul li strong{margin-bottom: 30px;}


/* 메인 - NATTOSYSTEM */
.mainPage .nattoArea div{margin-inline: auto; position: relative;}
.mainPage .nattoArea div::before{position: absolute;}
.mainPage .nattoArea div dl{max-width: 400px;}


/* 메인 - SNS */
.mainPage .snsArea ul{display: flex;}
.mainPage .snsArea ul li{width: 238px;}
.mainPage .snsArea ul li a{width: 78px;}


/* 메인 - 문의하기 */
.mainPage .inquiryArea{display: flex; flex-wrap: wrap;}
.mainPage .inquiryArea h3{width: 100%;}
.mainPage .inquiryArea > ul{display: flex; flex-direction: column; justify-content: center;}
.mainPage .inquiryArea form fieldset li label{font-size: 15px;}
.mainPage .inquiryArea form::before{left: 0; top: 0; width: 1px; height: 100%;}
.mainPage .inquiryArea iframe{height: 540px;}


/* 제품 페이지, 제품 상세 페이지, 솔루션 페이지 공통 */
:is(.productPage .welcomeArea, .productDetailPage .topArea, .solutionPage .topArea) h2{margin-bottom: 30px;}

/* 제품 상세 페이지, 솔루션 페이지 공통 */


/* 제품 페이지 */
/* 제품 페이지, 제품 상세 페이지 공통 */
:is(.productPage .welcomeArea, .productDetailPage .topArea) p{margin-bottom: 60px;}
/* 제품 페이지 - welcome */
.productPage .welcomeArea{position: relative;}
.productPage .welcomeArea p::after{position: absolute; right: calc(var(--contentPadding) + var(--areaPadding)); top: 50%; transform: translateY(-50%);}


/* 제품 페이지 - 주요제품 */
.productPage .productArea .tabArea > button{display: none;}
.productPage .productArea .tabArea ul{display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;}
.productPage .productArea .tabArea ul li button{font-size: 15px; padding-inline: 24px; height: 46px; color: var(--color-font02); background-color: var(--color-face); border: 1px solid #eee; border-radius: 6px; white-space: nowrap; box-sizing: border-box;}
.productPage .productArea .tabArea ul li button.active{font-weight: 700; border: none; background-color: black; color: white;}
.productPage .productArea > ul{gap: 20px;}
.productPage .productArea > ul > li a{height: 180px; padding-left: 140px; padding-right: 30px;}
.productPage .productArea > ul > li a::before{left: 30px; width: 70px;}
.productPage .productArea > ul > li a b{font-size: 20px; line-height: 26px; margin-bottom: 8px;}
.productPage .productArea > ul > li a p{font-size: 16px; line-height: 22px; margin-bottom: 15px;}


/* 제품 상세 페이지 - 상단 */
.productDetailPage .topArea{position: relative;}
.productDetailPage .topArea::after{position: absolute; top: 50%; transform: translateY(-50%);}


/* 제품 상세 페이지 - 제품 정보 */
.productDetailPage .infoArea ul li{display: flex; align-items: center;}
.productDetailPage .infoArea ul li:not(:last-child){margin-bottom: 40px;}
.productDetailPage .infoArea ul li::before{order: 1;}


/* 제품 상세 페이지 - 구매 옵션 */


/* 제품 상세 페이지 - 구독 옵션 */


/* 솔루션 페이지 */

/* 솔루션 페이지 공통 */


/* 솔루션 페이지 - 상단 */


/* 솔루션 페이지 - about */
.solutionPage .aboutArea{position: relative;}
.solutionPage .aboutArea h3 + p:after{position: absolute; top: 0; right: var(--contentPadding);}
.solutionPage .aboutArea ul li:not(:last-child){margin-bottom: 80px;}


/* 솔루션 페이지 - 주요 이점 */
.solutionPage .advantageArea ul{display: flex;}
.solutionPage .advantageArea ul li{flex: 1; padding: 30px;}


/* 솔루션 페이지 - 구매 옵션 */


/* 지원 페이지 - 문의하기, FAQ 공통 */

/* 지원 페이지 */
/* 지원 페이지 - 게시판, 게시판 상세, 문의하기, FAQ 공통 */


/* 지원 페이지 - 게시판 */
.boardPage section .searchBox{margin-bottom: 80px;}
.boardPage section .boardBox :is(div, ul li a){padding-inline: 20px; align-items: center;}
.boardPage section .btn-bg{max-width: 295px; margin-inline: auto;}


/* 지원 페이지 - 게시판 상세 */
.boardDetailPage section :is(strong, dl dt, dl dd){padding-inline: 20px;}
.boardDetailPage section dl{float: left; width: 50%;}
.boardDetailPage section dl:last-of-type + *{clear: both;}
.boardDetailPage section dl dt{width: 120px;}
.boardDetailPage section dl dd{flex: 1;}
.boardDetailPage section .detailArea{padding: 40px;}
.boardDetailPage section .answerArea{padding: 40px 80px 60px;}
.boardDetailPage section .btn-border-black{max-width: 295px; margin-inline: auto; margin-top: 80px;}


/* 지원 페이지 - 문의하기 */
.inquiryPage section [class*="inputBox"] > div{margin-top: 60px; padding-top: 30px;}
.submitBox{margin-top: 80px;}


/* 지원 페이지 - FAQ */
.faqPage section .searchBox button:nth-of-type(2){right: 80px;}
.faqPage section .tabArea{gap: 15px; margin-bottom: 80px;}
.faqPage section .tabArea button{font-size: 15px; height: 46px; padding-inline: 20px;}
.faqPage section > strong{margin-bottom: 30px;}


/* 견적요청 페이지 */


/* 구매하기 페이지 */
.buyPage section form fieldset:not(:last-of-type){margin-bottom: 60px;}
.buyPage section form fieldset strong{margin-bottom: 30px;}
.buyPage section form .inputArea ul li:not(:last-child){margin-bottom: 40px;}
.buyPage section form .inputArea ul li label:first-child{font-size: 14px;}
.buyPage section form .inputArea ul li > div:has(input){margin-top: 20px;}
.buyPage section form .amountBox{margin-top: 60px;}


/* 견적 요청, 구매 완료 페이지 공통 */
:is(.estimateResultPage, .buyResultPage) section > .btn-bg{max-width: 295px;}

/* 견적 요청 완료 페이지 */


/* 구매 완료 페이지 */
