
/* 메인 */
.mainPage h3:not(:has(img)){font-weight: 700;}
.mainPage h3:has(img){line-height: 0;}
/* 메인 - welcome */
.mainPage .welcomeArea{background: #FCF2C4 url(../images/main-wave01.png) no-repeat center bottom / 100%;}
.mainPage .welcomeArea h2{font-weight: 700;}
.mainPage .welcomeArea p{color: var(--color-font01);}
.mainPage .welcomeArea::after{content: ''; aspect-ratio: 720 / 540; background: url(../images/main-top.png) no-repeat center / cover;}


/* 메인 - 주요제품, 주요기능 공통 */
.mainPage :is(.productArea, .functionArea){padding-top: var(--areaPaddingTop);}

/* 메인 - 주요제품 */
.mainPage .productArea{position: relative;}
.mainPage .productArea > div:first-child p{color: var(--color-font01);}
.mainPage .productArea ul{display: none; flex-wrap: wrap; justify-content: space-between; row-gap: 20px;}
.mainPage .productArea ul li:first-child{margin-left: calc(var(--width) + (100% - (var(--width) * 3)) / 2);}
.mainPage .productArea ul li{width: var(--width); padding: 40px 30px 0; border: 1px solid var(--color-line); box-sizing: border-box; text-align: center;}
.mainPage .productArea ul li a::before{content: ''; --styleIdx: 1; width: 60px; margin-bottom: 30px; aspect-ratio: 1; display: inline-block; margin-inline: auto; 
    background: url(../images/icon-products.png) no-repeat left top calc(100% / (24 - 1) * var(--styleIdx)) / 100%;
    /* background: url(../images/icon-products.png) no-repeat left top calc(100% / 23 * var(--styleIdx)) / 100%; */
}
.mainPage .productArea ul li:nth-child(1) a::before{--styleIdx: 2;}
.mainPage .productArea ul li:nth-child(2) a::before{--styleIdx: 0;}
.mainPage .productArea ul li:nth-child(3) a::before{--styleIdx: 22;}
.mainPage .productArea ul li:nth-child(4) a::before{--styleIdx: 8;}
.mainPage .productArea ul li:nth-child(5) a::before{--styleIdx: 1;}
.mainPage .productArea ul li a strong{margin-bottom: 15px; font-weight: 700; display: block;}
.mainPage .productArea ul li a p{color: var(--color-font02);}
.mainPage .productArea .swiper-wrapper .swiper-slide{border: 1px solid var(--color-line); box-sizing: border-box; text-align: center;}
.mainPage .productArea .swiper-wrapper .swiper-slide a::before{content: ''; --styleIdx: 1; margin-bottom: 30px; aspect-ratio: 1; display: inline-block; margin-inline: auto; 
    background: url(../images/icon-products.png) no-repeat left top calc(100% / (24 - 1) * var(--styleIdx)) / 100%;
}
.mainPage .productArea .swiper-wrapper .swiper-slide:nth-child(1) a::before{--styleIdx: 2;}
.mainPage .productArea .swiper-wrapper .swiper-slide:nth-child(2) a::before{--styleIdx: 0;}
.mainPage .productArea .swiper-wrapper .swiper-slide:nth-child(3) a::before{--styleIdx: 22;}
.mainPage .productArea .swiper-wrapper .swiper-slide:nth-child(4) a::before{--styleIdx: 8;}
.mainPage .productArea .swiper-wrapper .swiper-slide:nth-child(5) a::before{--styleIdx: 1;}
.mainPage .productArea .swiper-wrapper .swiper-slide a strong{margin-bottom: 15px; font-weight: 700; display: block;}
.mainPage .productArea .swiper-wrapper .swiper-slide a p{color: var(--color-font02);}


/* 메인 - 주요제품 */
.mainPage .functionArea{text-align: center; background-color: var(--color-face);}
.mainPage .functionArea > p{margin-bottom: 100px;}
.mainPage .functionArea ul{text-align: left;}
.mainPage .functionArea ul li{padding-top: 30px; border-top: 1px solid black;}
.mainPage .functionArea ul li::before{content: ''; width: 40px; margin-bottom: 10px; aspect-ratio: 1; display: block; 
    /* background: url(../images/main-function.png) no-repeat left top calc((100% / (var(--styleTotal) - 1) * var(--styleIdx))) / 100%; */
    background-image: url(../images/main-function.png); background-repeat: no-repeat; background-position: left 0 top calc((100% / (var(--styleTotal) - 1) * var(--styleIdx))); background-size: 100%;
}
.mainPage .functionArea ul li:nth-child(1)::before{background-position: left top 0%;}
.mainPage .functionArea ul li:nth-child(2)::before{background-position: left top 25%;}
.mainPage .functionArea ul li:nth-child(3)::before{background-position: left top 50%;}
.mainPage .functionArea ul li:nth-child(4)::before{background-position: left top 75%;}
.mainPage .functionArea ul li:nth-child(5)::before{background-position: left top 100%;}
.mainPage .functionArea ul li strong{font-weight: 700; display: block;}
.mainPage .functionArea ul li p{color: var(--color-font02);}


/* 메인 - NATTOSYSTEM */
.mainPage .nattoArea{background-color: #FCF2C4; background-image: url(../images/main-wave01.png), url(../images/main-wave02.png); background-repeat: no-repeat; background-position: center bottom, center top; background-size: 100%;}
.mainPage .nattoArea h3{margin-inline: auto;}
.mainPage .nattoArea h3 img{width: 100%;}
.mainPage .nattoArea div::before{content: ''; aspect-ratio: 430 / 500; background: url(../images/main-character01.png) no-repeat center / cover; }
.mainPage .nattoArea div strong{font-weight: 700;}
.mainPage .nattoArea div dl{margin-top: 30px;}
.mainPage .nattoArea div dl dt{margin-bottom: 10px; font-weight: 700;}
.mainPage .nattoArea div dl dd{color: var(--color-font01);}
.mainPage .nattoArea div dl:last-of-type::after{content: ''; max-width: 340px; display: block; aspect-ratio: 340 / 96; background: url(../images/main-character02.png) no-repeat center / cover;}


/* 메인 - SNS */
.mainPage .snsArea{position: relative; color: white; background-color: black;}
.mainPage .snsArea strong{font-weight: 700; display: block;}
.mainPage .snsArea strong mark{color: #F8B800;}
.mainPage .snsArea p{color: rgba(255, 255, 255, 0.7);}
.mainPage .snsArea ul li{padding-left: 25px; font-weight: 700; box-sizing: border-box; border: 1px solid white; border-radius: 6px; display: flex; align-items: center;}
.mainPage .snsArea ul li::before{content: ''; aspect-ratio: 1; background: url(../images/icon-sns.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .snsArea ul li a{font-size: 12px; text-align: center; margin-left: auto; position: relative;}
.mainPage .snsArea ul li a::before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 2px; height: 18px; background-color: rgba(255, 255, 255, 0.2);}


/* 메인 - 문의하기 */
.mainPage .inquiryArea > ul{text-align: center;}
.mainPage .inquiryArea > ul li:not(:last-child){margin-bottom: 50px;}
.mainPage .inquiryArea > ul li::before{content: ''; aspect-ratio: 1; display: block; margin-inline: auto; background: url(../images/main-address.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;}
.mainPage .inquiryArea > ul li b{display: block; font-weight: 700;}
.mainPage .inquiryArea form{position: relative;}
.mainPage .inquiryArea form::before{content: ''; position: absolute; background-color: var(--color-line);}
.mainPage .inquiryArea form fieldset strong{margin-bottom: 30px; display: block; font-weight: 700;}
.mainPage .inquiryArea form fieldset ul{margin-bottom: 30px;}
.mainPage .inquiryArea form fieldset ul li:not(:last-child){margin-bottom: 30px;}
.mainPage .inquiryArea form fieldset ul li label{line-height: 20px; font-weight: 700;}
.mainPage .inquiryArea form fieldset ul li div{margin-top: 10px; display: flex; gap: 10px;}
.mainPage .inquiryArea form fieldset ul li div input{flex: 1;}
.mainPage .inquiryArea form fieldset input{border-radius: 6px;}
.mainPage .inquiryArea form fieldset input[type="submit"]{width: 100%; font-weight: 700; border: none; background-color: black; color: white;}
.mainPage .inquiryArea iframe{width: 100%;}


/* 제품 페이지, 제품 상세 페이지, 솔루션 페이지 공통 */
:is(.productPage .welcomeArea, .productDetailPage .topArea, .solutionPage .topArea) h2{font-weight: 700;}

/* 제품 상세 페이지, 솔루션 페이지 공통 */


/* 제품 페이지 */
/* 제품 페이지, 제품 상세 페이지 공통 */
:is(.productPage .welcomeArea, .productDetailPage .topArea) p{color: rgba(255, 255, 255, 0.7);}
:is(.productPage, .productDetailPage, .solutionPage) h3{font-weight: 700;

}
/* 제품 페이지 - welcome */
.productPage .welcomeArea{background-color: black; color: white; background-image: url(../images/solution-wave01.png); background-repeat: no-repeat; background-position: center bottom; background-size: 100%;}
.productPage .welcomeArea::before{display: block; content: ''; aspect-ratio: 372 / 80; background: url(../images/product-top.png) no-repeat center / cover;}
.productPage .welcomeArea p{font-weight: 400;}


/* 제품 페이지 - 주요제품 */
.productPage .productArea h3{text-align: center;}
.productPage .productArea > ul{display: flex; flex-wrap: wrap;}
.productPage .productArea > ul > li{border: 1px solid var(--color-line); box-sizing: border-box;}
.productPage .productArea > ul > li a{display: flex; flex-direction: column; justify-content: center; position: relative; box-sizing: border-box;}
/* .productPage .productArea > ul > li a::before{content: ''; position: absolute; top: 50%; aspect-ratio: 1; transform: translateY(-50%); background: url(../images/icon-products.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;} */
.productPage .productArea > ul > li img{position: absolute; top: 50%; aspect-ratio: 1; transform: translateY(-50%);}
.productPage .productArea > ul > li a b{font-weight: 700;}
.productPage .productArea > ul > li a ul{display: flex; flex-wrap: wrap; gap: 5px 7px;}
.productPage .productArea > ul > li a ul li{font-size: 11px; line-height: 22px; padding-inline: 10px; background-color: #f1f1f1; border-radius: 6px 0;}


/* 제품 상세 페이지, 솔루션 페이지 공통 */
:is(.productDetailPage, .solutionPage) strong{font-weight: 700;}
:is(.productDetailPage, .solutionPage) .topArea a.linkArea{font-weight: 700; display: flex; justify-content: center; align-items: center; border: 1px solid #fff; border-radius: 6px;}

/* 제품 상세 페이지 공통 */
/* 제품 상세 페이지 - 상단 */
.productDetailPage .topArea{background-color: black; color: white;}
/* .productDetailPage .topArea::after{content: ''; aspect-ratio: 1; background: url(../images/icon-products.png) no-repeat left top calc(100% / (var(--styleTotal) - 1) * var(--styleIdx)) / 100%;} */
.productDetailPage .topArea img{aspect-ratio: 1; object-fit: cover;}
.productDetailPage .topArea p{white-space: pre-wrap;}


/* 제품 상세 페이지 - 제품 정보 */
.productDetailPage .infoArea h3 + p{color: var(--color-font01);}
/* .productDetailPage .infoArea ul li::before{content: ''; aspect-ratio: 740 / 400; background-image: var(--img); background-position: center; background-size: cover;} */
/* .productDetailPage .infoArea ul li:nth-child(1)::before{background-image: url(../images/productFeatures/);}
.productDetailPage .infoArea ul li:nth-child(2)::before{background-image: url(../images/productDetail-info02.png);}
.productDetailPage .infoArea ul li:nth-child(3)::before{background-image: url(../images/productDetail-info03.png);} */
/* .productDetailPage .infoArea ul li img{aspect-ratio: 740 / 400; object-fit: cover;} */
.productDetailPage .infoArea ul li img{width: 0%; border-radius: 20px;}
.productDetailPage strong + p{color: var(--color-font02);}


/* 제품 상세 페이지 - 구매 옵션 */
.productDetailPage .purchaseArea h3 small{font-size: 0.38em; font-weight: 400;}
.productDetailPage .purchaseArea > p{color: var(--color-font02);}
.productDetailPage .purchaseArea table:has(tr *:nth-child(7)) tr > *:nth-child(3){border-right: 1px solid var(--color-line);}


/* 제품 상세 페이지 - 구독 옵션 */


/* 솔루션 페이지 */
.solutionPage{color: white; background: #111 url(../images/solution-bg02.png) no-repeat center / 100%;}
.solutionPage header{background-color: #111;}
.solutionPage header h1 a{--styleIdx: 1;}
.solutionPage header::after{background-color: rgba(255, 255, 255, 0.2);}

/* 솔루션 페이지 공통 */
.solutionPage h3 + p{color: rgba(255, 255, 255, 0.7);}
.solutionPage strong + p{color: rgba(255, 255, 255, 0.7);}


/* 솔루션 페이지 - 상단 */
.solutionPage .topArea{background: black url(../images/solution-bg01.png) no-repeat center / cover;}
.solutionPage .topArea b{display: block;}
.solutionPage .topArea p{color: rgba(255, 255, 255, 0.5);}


/* 솔루션 페이지 - about */
.solutionPage .aboutArea ::after{border-radius: 20px;}
.solutionPage .aboutArea h3 + p::after{content: ''; aspect-ratio: 590 / 416; background: url(../images/solution-about.png) no-repeat center / cover;}
.solutionPage .aboutArea ul li p::after{content: ''; aspect-ratio: 1260 / 650; display: block; background-repeat: no-repeat; background-position: center; background-size: cover;}
.solutionPage .aboutArea ul li:nth-child(1) p::after{background-image: url(../images/solution-about01.png);}
.solutionPage .aboutArea ul li:nth-child(2) p::after{background-image: url(../images/solution-about02.png);}
.solutionPage .aboutArea ul li:nth-child(3) p::after{background-image: url(../images/solution-about03.png);}


/* 솔루션 페이지 - 주요 이점 */
.solutionPage .advantageArea ul li{background-color: #1C1C1C;}
.solutionPage .advantageArea ul li b{font-weight: 700;}
.solutionPage .advantageArea ul li p{color: rgba(255, 255, 255, 0.5);}


/* 솔루션 페이지 - 구매 옵션 */



:is(.boardPage, .boardDetailPage, .inquiryPage, .inquiryResultPage, .faqPage, .estimatePage, .estimateDetailPage, [class*="buy"][class*="Page"], .estimateResultPage, .buyResultPage) section h2{font-weight: 700; text-align: center;}
:is(.boardPage, .boardDetailPage, .inquiryPage, .inquiryResultPage, .faqPage, .estimateResultPage, .buyResultPage ) section h2 + p{color: var(--color-font01); text-align: center;}

/* 지원 페이지 - 문의하기, FAQ 공통 */

/* 지원 페이지 */
/* 지원 페이지 - 게시판, 게시판 상세, 문의하기, FAQ 공통 */


/* 지원 페이지 - 게시판 */
.boardPage section .searchBox{max-width: 500px; margin-inline: auto;}
.boardPage section .boardBox{border-top: 1px solid black;}
.boardPage section .boardBox > div{font-weight: 700; border-bottom: 1px solid var(--color-line);}
.boardPage section .boardBox > ul li{border-bottom: 1px solid var(--color-line);}
.boardPage section .boardBox > ul:not(:has(:nth-child(1)))::after{content: '게시물이 없습니다.'; height: 300px; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #DCDCDC;}
.boardPage section .boardBox :where(div, ul li a){display: flex;}
.boardPage section .boardBox :is(div, ul li a) > *:not(p){text-align: center;}
.boardPage section .boardBox > ul li a.lack p{background: url(../images/icon-lock.png) no-repeat right center / 22px;}
.boardPage section .boardBox > ul li a.answer p::after{content: ' 回答済み'; color: var(--color-point); word-break: keep-all;}
.boardPage section .btn-bg{display: block;}


/* 지원 페이지 - 게시판 상세 */
.boardDetailPage section :is(strong, dl dt, dl dd){box-sizing: border-box;}
.boardDetailPage section strong{display: block; font-weight: 700; border-top: 1px solid black;}
.boardDetailPage section dl{display: flex; border-top: 1px solid var(--color-line);}
.boardDetailPage section dl dt{flex-shrink: 0; color: var(--color-font03); border-right: 1px solid var(--color-line);}
.boardDetailPage section dl :is(dt, dd){line-height: 22px;}
.boardDetailPage section .detailArea{line-height: 22px; margin-bottom: 20px; border-top: 1px solid var(--color-line);}
.boardDetailPage section .answerArea{line-height: 22px; background-color: var(--color-face); color: var(--color-font02); border-bottom: 1px solid var(--color-line);}


/* 지원 페이지 - 문의하기 */
.inquiryPage section [class*="inputBox"] > div{display: flex; align-items: center; border-top: 1px solid var(--color-line);}
.inquiryPage section [class*="inputBox"] > div input[type="password"]{width: 100%; max-width: 300px;}


/* 지원 페이지 - FAQ */
.faqPage section h2 + p{margin-bottom: 60px;}
.faqPage section .searchBox{max-width: 600px; margin-inline: auto; /* margin-bottom: 30px; */}
.faqPage section .searchBox button:nth-of-type(2){background: url(../images/icon-delete.png) no-repeat center / cover;}
.faqPage section .tabArea{display: flex; justify-content: center; flex-wrap: wrap;}
.faqPage section .tabArea button{color: var(--color-font02); background-color: var(--color-face); border: 1px solid #eee; border-radius: 6px; box-sizing: border-box;}
.faqPage section .tabArea button.active{background-color: black; color: white; border: none; font-weight: 700;}
.faqPage section > strong{display: block; font-weight: 700;}
.faqPage section .test{display: flex; flex-wrap: wrap;}
.faqPage section .test div strong{font-weight: 700; display: block; border-bottom: 1px solid black;}
.faqPage section .test div details{padding-block: 10px; padding-inline: 42px; position: relative;}
.faqPage section .test div details:not(:last-of-type){margin-bottom: 10px;}
.faqPage section .test div details[open]{background-color: #F8F8F8;}
.faqPage section .test div details summary{font-weight: 700; list-style-type: none; cursor: pointer;}
.faqPage section .test div details summary::after{width: 22px; left: 10px; top: 5px; content: ''; aspect-ratio: 1; background: url(../images/icon-arrow-down.png) no-repeat center / cover; flex-shrink: 0; position: absolute;}
.faqPage section .test div details[open] summary::after{rotate: 180deg;}
.faqPage section .test div details > div{font-weight: 400; color: #666; margin-top: 20px;}


/* 지원 페이지 - FAQ - 타이틀 페이지, 상세 페이지*/
.faqPager{display: flex;}
.faqPager li{color: #bbb;}
.faqPager li:not(:last-child)::after{content: '/';}
.faqPager li:last-child{color: #333;}


/* 지원 페이지 - FAQ - 타이틀 페이지*/
.faqTitlePage strong{display: block; font-weight: 700; margin-bottom: 20px;}
.faqTitlePage ul{border-top: 1px solid black;}
.faqTitlePage ul li:not(:last-child){margin-bottom: 30px;}
.faqTitlePage ul li a{text-decoration: underline; font-weight: 400;}


/* 지원 페이지 - FAQ - 상세 페이지*/
.faqDetailPage .titleArea{margin-bottom: 40px;}
.faqDetailPage .editorArea{font-size: 15px; line-height: 19px; font-weight: 400; white-space: pre-line; border-bottom: 1px solid var(--color-line01);}
.faqDetailPage .editorArea img{width: 100%; height: auto;}
.faqDetailPage .editorArea > *:not(:last-child){margin-bottom: 10px;}
.faqDetailPage .editorArea i{font-style: italic;}
.faqDetailPage .editorArea strong{font-weight: 700;}
.faqDetailPage .editorArea table{width: 100%;}
.faqDetailPage .editorArea :is(h2, h3, h4){font-weight: 700;}
.faqDetailPage .editorArea h2{font-size: 2em;}
.faqDetailPage .editorArea h3{font-size: 1.5em;}
.faqDetailPage .editorArea h4{font-size: 1.17em;}
.faqDetailPage .editorArea textarea{padding-block: 15px;}
.faqDetailPage .editorArea:has(.image-style-side)::after{content: ''; display: block; clear: both;}
.faqDetailPage .editorArea .image-style-side{float: right;}
.faqDetailPage .editorArea .image{margin-inline: auto; clear: both;}
.faqDetailPage .editorArea .table table td{border: 1px solid #bfbfbf; min-width: 2em; padding: .4em;}
.faqDetailPage .editorArea .table table :is(td, th){vertical-align: middle;}
.faqDetailPage .editorArea figure.table{width: 100%;}
.faqDetailPage .editorArea a{color: rgb(0, 0, 238);}



/* 견적요청 페이지 */
:is(.estimatePage, .estimateDetailPage) section form fieldset:not(:last-of-type){margin-bottom: 40px;}
:is(.estimatePage, .estimateDetailPage) section form .inputBox > p{line-height: 22px;}
:is(.estimatePage, .estimateDetailPage) section form .inputBox > p button{font-weight: 700; text-decoration: underline;}


/* 구매하기 페이지 */
[class*="buy"][class*="Page"] section form .inputBox:has(.sameArea){position: relative;}
[class*="buy"][class*="Page"] section form .inputBox .sameArea{position: absolute; right: 0; top: 0;}
[class*="buy"][class*="Page"] section form fieldset strong{display: block; font-weight: 700;}
[class*="buy"][class*="Page"] section form .inputArea ul li label:first-child{font-weight: 700; line-height: 20px;}
/* [class*="buy"][class*="Page"] section form .inputArea ul li label:first-child + div{margin-top: 20px;} */
[class*="buy"][class*="Page"] section form .inputArea ul li label:first-child + p{margin-top: 10px; line-height: 22px;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(input){display: flex; gap: 30px;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(input) input[type="radio"] + label{display: flex; align-items: center;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(input) input[type="radio"] + label::before{margin-right: 10px; content: ''; --styleIdx: 0; aspect-ratio: 1; background: url(../images/icon-radio.png) no-repeat left top calc(100% * var(--styleIdx))/ 100%;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(input) input[type="radio"]:checked + label::before{--styleIdx: 1;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(dl, p){color: var(--color-font02); margin-top: 20px;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(dl, p) dl{display: flex; align-items: center;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(dl, p) dl dt{display: flex; align-items: center;}
[class*="buy"][class*="Page"] section form .inputArea ul li > div:has(dl, p) dl dt::after{content: ':';}
[class*="buy"][class*="Page"] section .orderArea{border-top: 1px solid black; max-width: 600px; margin-inline: auto;}
[class*="buy"][class*="Page"] section .orderArea dl{display: flex; align-items: center;}
[class*="buy"][class*="Page"] section .orderArea dl > *{flex: 1;}
[class*="buy"][class*="Page"] section .orderArea dl > dt{color: #999;}
[class*="buy"][class*="Page"] section .orderArea dl > dd{text-align: right; }
[class*="buy"][class*="Page"] section .orderArea .productArea{padding: 20px; border-bottom: 1px solid #DEDEDE;}
[class*="buy"][class*="Page"] section .orderArea .productArea strong{display: block; font-weight: 700; margin-bottom: 20px;}
[class*="buy"][class*="Page"] section .orderArea .productArea dl:not(:last-of-type){margin-bottom: 10px;}
[class*="buy"][class*="Page"] section .orderArea .priceArea{padding: 20px 20px 26px; border-bottom: 1px solid #DEDEDE; background-color: #F8F8F8;}
[class*="buy"][class*="Page"] section .orderArea .priceArea dl:first-of-type{margin-bottom: 10px;}
[class*="buy"][class*="Page"] section .orderArea .priceArea dl:last-of-type{margin-top: 20px; padding-top: 26px; border-top: 1px solid #DEDEDE;}
[class*="buy"][class*="Page"] section .orderArea .priceArea dl:last-of-type > *{color: black; font-weight: 700;}


/* 견적 요청, 구매 완료 페이지 공통 */
:is(.inquiryResultPage, .estimateResultPage, .buyResultPage) section > .btn-bg{display: block; margin-inline: auto;}