/* 메인 */
.mainPage h3:not(:has(img)){font-size: 44px; line-height: 54px;}
/* 메인 - welcome */
.mainPage .welcomeArea{padding-block: 110px 148px;}
.mainPage .welcomeArea h2{font-size: 50px; line-height: 60px;}
.mainPage .welcomeArea h2::before{left: -2px; top: -24px; width: 80px;}
.mainPage .welcomeArea p{font-size: 18px; line-height: 26px; max-width: 410px;}
.mainPage .welcomeArea > *{padding-left: 36px;}
.mainPage .welcomeArea::after{width: max(44.9218%, 460px);}


/* 메인 - 주요제품, 주요기능 공통 */
.mainPage :is(.productArea, .functionArea){--areaPaddingTop: 80px; padding-bottom: 100px;}
.mainPage :is(.productArea div, .functionArea) h3{margin-bottom: 30px;}
.mainPage :is(.productArea div, .functionArea) > p{font-size: 18px; line-height: 26px;}

/* 메인 - 주요제품 */
.mainPage .productArea div{width: 30.7617%; padding-right: 35px;}
.mainPage .productArea ul li{--width: 32.2745%; height: 332px;}
.mainPage .productArea ul li a strong{font-size: 22px; line-height: 30px;}
.mainPage .productArea ul li a p{font-size: 14px; line-height: 20px;}


/* 메인 - 주요제품 */
.mainPage .functionArea ul li{width: 18.2377%;}
.mainPage .functionArea ul li strong{font-size: 22px; line-height: 30px;}


/* 메인 - NATTOSYSTEM */
.mainPage .nattoArea{padding-block: 140px 98px;}
.mainPage .nattoArea h3{max-width: 450px;}
.mainPage .nattoArea div{max-width: 880px;}
.mainPage .nattoArea div::before{right: 0; top: 0; width: 362px;}
.mainPage .nattoArea div strong{font-size: 28px; line-height: 36px;}
.mainPage .nattoArea div dl dt{font-size: 22px; line-height: 30px;}


/* 메인 - SNS */
.mainPage .snsArea{padding-block: 50px;}
.mainPage .snsArea strong{font-size: 32px; line-height: 42px; margin-bottom: 10px;}
.mainPage .snsArea p{font-size: 16px; margin-bottom: 40px;}
.mainPage .snsArea ul{gap: 20px; justify-content: center;}
.mainPage .snsArea ul li::before{margin-right: 18px;}


/* 메인 - 문의하기 */
.mainPage .inquiryArea{padding-block: 80px 100px;}
.mainPage .inquiryArea h3{margin-bottom: 40px;}
.mainPage .inquiryArea > ul{flex: 336;}
.mainPage .inquiryArea > ul li b{font-size: 16px;}
.mainPage .inquiryArea form{flex: 640; padding-left: 40px;}
.mainPage .inquiryArea form fieldset strong{font-size: 22px; line-height: 30px;}
.mainPage .inquiryArea iframe{margin-top: 80px;}


/* 제품 페이지 */
/* 제품 페이지 - welcome */
.productPage .welcomeArea{padding-block: 110px 117px;}
.productPage .welcomeArea > *{margin-left: 36px;}
.productPage .welcomeArea h2{font-size: 64px; line-height: 74px;}
.productPage .welcomeArea p{font-size: 18px; line-height: 26px;}
.productPage .welcomeArea p::after{width: max(35.15625%, 360px); --areaPadding: 56px;}


/* 제품 페이지 - 주요제품 */
.productPage .productArea{padding-block: 80px 100px;}
.productPage .productArea h3{font-size: 44px; line-height: 54px;}
.productPage .productArea .tabArea{margin-bottom: 60px;}
.productPage .productArea > ul > li{flex: 1; min-width: 406px;}