/* 메인 */
/* 메인 - welcome */
.mainPage .welcomeArea{padding-block: 110px 148px;}
.mainPage .welcomeArea h2{font-size: 50px; line-height: 60px;}
.mainPage .welcomeArea h2::before{left: -2px; top: -24px; width: 80px;}
.mainPage .welcomeArea p{font-size: 18px; line-height: 26px; max-width: 410px;}
.mainPage .welcomeArea > *{padding-left: 36px;}
.mainPage .welcomeArea::after{width: max(44.9218%, 460px);}