
/* 메인 */
.mainPage h3{font-size: 50px; line-height: 60px; font-weight: 700;}
/* 메인 - welcome */
.mainPage .welcomeArea{background-color: #FCF2C4;}
.mainPage .welcomeArea h2{font-weight: 700;}
.mainPage .welcomeArea p{color: var(--color-font01);}
.mainPage .welcomeArea::after{content: ''; aspect-ratio: 720 / 540; background: url(../images/main-top.png) no-repeat center / cover;}

/* 메인 - 주요제품 */
.mainPage .productArea{--areaPaddingTop: 100px; padding-bottom: 120px; padding-top: var(--areaPaddingTop); position: relative;}
.mainPage .productArea div{position: absolute; left: var(--contentPadding); width: min(30.7617%, 406px); padding-right: 39px; top: var(--areaPaddingTop); box-sizing: border-box;}
.mainPage .productArea div h3{margin-bottom: 40px;}
.mainPage .productArea div p{font-size: 20px; line-height: 28px; color: var(--color-font01);}
.mainPage .productArea ul{display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 20px;}
.mainPage .productArea ul li:first-child{margin-left: calc(var(--width) + (100% - (var(--width) * 3)) / 2);}
.mainPage .productArea ul li{--width: 32.2222%; height: 320px; width: var(--width); padding: 40px 30px 0; border: 1px solid var(--color-line); box-sizing: border-box; text-align: center;}
.mainPage .productArea ul li a::before{content: ''; --styleIdx: 1; width: 60px; margin-bottom: 30px; aspect-ratio: 1; display: inline-block; margin-inline: auto; background: url(../images/icon-products.png) no-repeat left top calc((100% / 23 * var(--styleIdx))) / 100%;}
.mainPage .productArea ul li:nth-child(1) a::before{--styleIdx: 2;}
.mainPage .productArea ul li:nth-child(2) a::before{--styleIdx: 0;}
.mainPage .productArea ul li:nth-child(3) a::before{--styleIdx: 22;}
.mainPage .productArea ul li:nth-child(4) a::before{--styleIdx: 8;}
.mainPage .productArea ul li:nth-child(5) a::before{--styleIdx: 1;}
.mainPage .productArea ul li a strong{font-size: 24px; line-height: 32px; margin-bottom: 15px; font-weight: 700; display: block;}
.mainPage .productArea ul li a p{font-size: 16px; line-height: 22px; color: var(--color-font02);}
