/* 메인 */
.mainPage h3:not(:has(img)){font-size: 36px; line-height: 46px;}
/* 메인 - welcome */
.mainPage .welcomeArea{padding-block: 50px 55px; text-align: center;}
.mainPage .welcomeArea h2{font-size: 36px; line-height: 46px; margin-bottom: 20px;}
.mainPage .welcomeArea p{font-size: 16px; line-height: 22px;}
.mainPage .welcomeArea::after{display: block; max-width: 500px; margin-inline: auto;}


/* 메인 - 주요제품, 주요기능 공통 */
.mainPage :is(.productArea, .functionArea){--areaPaddingTop: 60px; padding-bottom: 60px;}
.mainPage :is(.productArea div, .functionArea) h3{margin-bottom: 20px;}
.mainPage :is(.productArea div, .functionArea) > p{font-size: 16px; line-height: 22px;}

/* 메인 - 주요제품 */
.mainPage .productArea div{margin-bottom: 60px; text-align: center;}
.mainPage .productArea ul{display: none;}


/* 메인 - 주요제품 */
.mainPage .functionArea ul li:not(:last-child){margin-bottom: 60px;}
.mainPage .functionArea ul li strong{font-size: 22px; line-height: 28px; margin-bottom: 20px;}


/* 메인 - NATTOSYSTEM */
.mainPage .nattoArea{padding-block: 80px 56px;}
.mainPage .nattoArea h3{max-width: 300px; margin-bottom: 40px;}
.mainPage .nattoArea div::before{display: block; max-width: 300px; margin-bottom: 40px; margin-inline: auto;}
.mainPage .nattoArea div strong{font-size: 24px; line-height: 32px;}
.mainPage .nattoArea div dl dt{font-size: 22px; line-height: 28px;}


/* 메인 - SNS */
.mainPage .snsArea{padding-block: 60px;}
.mainPage .snsArea strong{font-size: 30px; line-height: 40px; margin-bottom: 20px;}
.mainPage .snsArea p{font-size: 15px; margin-bottom: 50px;}
.mainPage .snsArea ul{max-width: 300px; margin-inline: auto;}
.mainPage .snsArea ul li:not(:last-child){margin-bottom: 12px;}
.mainPage .snsArea ul li::before{margin-right: 20px;}
.mainPage .snsArea ul li a{width: 89px;}


/* 메인 - 문의하기 */
.mainPage .inquiryArea{padding-block: 60px 80px; text-align: center;} 
.mainPage .inquiryArea h3{margin-bottom: 50px;}
.mainPage .inquiryArea > ul{margin-bottom: 60px;}
.mainPage .inquiryArea > ul li b{font-size: 15px;}
.mainPage .inquiryArea form{padding-top: 60px;}
.mainPage .inquiryArea form::before{left: 50%; top: 0; width: 100px; height: 1px; transform: translateX(-50%);}
.mainPage .inquiryArea form fieldset strong{font-size: 20px; line-height: 28px;}
.mainPage .inquiryArea form fieldset ul{text-align: left;}
.mainPage .inquiryArea form fieldset ul li label{font-size: 14px;}
.mainPage .inquiryArea form fieldset ul li div input{padding-inline: 12px; width: 100%;}
.mainPage .inquiryArea iframe{margin-top: 60px; height: 260px;}