:root{
    --color-font01: #333333;
    --color-font02: #666666;
    --color-font03: #999999;
    --color-font04: #bbbbbb;
    --color-face: #f8f8f8;
    --color-line: #dedede;
    --color-point: #96C51A;
}